.list {
  padding-left: 25px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.paragraph {
  margin-right: 50px;
}

.name {
  font-weight: 700;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-left: auto;
}

.button:hover,
button:active {
  border-color: #fff;
  scale: 1.1;
  color: #fff;
}

.total {
  margin-bottom: 50px;
}
